<p id="notice"><%= notice %></p>

<h1>Pins</h1>

<% @pins.each do |pin| %>
  <div id="pins">
    <%= image_tag pin.image.url(:medium) %><br />
    <%= pin.description %><br />
    <%= pin.user.email if pin.user %><br />
    <%= link_to 'Show', pin %>
    <% if current_user == pin.user %>
      <%= link_to 'Edit', edit_pin_path(pin) %>
      <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <br />
  </div>
<% end %>

<br>

<%= link_to 'New Pin', new_pin_path %>
