<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @pin.image.url(:medium) %><br />
  <strong>Description:</strong>
  <%= @pin.description %><br />
</p>

<% if current_user == @pin.user %>
  <%= link_to 'Edit', edit_pin_path(@pin) %> |
<% end %>
<%= link_to 'Back', pins_path %>
